<header>
  <div class="name">
    <img src="http://res.cloudinary.com/djdcx8hbj/image/upload/v1489588530/logo_acasic.jpg" alt="">
  </div>

  <div class="navbar">
    <ul>
      <li class="left" style="float: left; padding-left: 20px;"><a href="#navbar"><img src="http://res.cloudinary.com/djdcx8hbj/image/upload/v1489526847/sportis-white-logo_w7dyve.jpg" alt=""></a></li>
      <li><a href="#Contact">contact</a></li>
      <li><a href="#Testimonials">testimonials</a></li>
      <li><a href="#Skills">aanbod</a></li>
      <li id="Top"><a href="#About">over Sportis</a></li>
    </ul>
  </div>
</header>

<body>
  <div class="about" id="About">
    <div class="about-box">
      <div class="about-img">
        <img src="http://res.cloudinary.com/djdcx8hbj/image/upload/v1494410649/ilonka_bbgoog.png" alt="">
      </div>
      <div class="about-item">
        <h2>OVER SPORTIS</h2>
        <p>
          Mijn naam is Ilonka Sloote.
          Ik ben 30 jaar en heb een zoontje van 2 jaar.
          Sporten is altijd mijn passie geweest. Ik heb veel verschillende sporten beoefend, maar voetbal vind ik het leukste.
          Op een gegeven moment deed ik 6 dagen in de week aan voetbal.
          In de zaal heb ik op eredivisie niveau gespeeld en op veld hoofdklasse.
          Toen ik zwanger werd ben ik hiermee gestopt.
        </p>
        <p>
          Inmiddels werk ik al 10 jaar in de sport, en werk ik met verschillende doelgroepen.
          Van peuters tot aan bejaarde.
          Deze afwisseling maakt dat ik mijn werk leuk en interessant blijf vinden.
        </p>
        <p> Mijn specialisaties zijn:<p>
          <ul>
            <li>- Bootcamp (zwangere), small group en personal training.</li>
            <li>- Sport als middel gebruiken bij schoolgaande kinderen om hun gedrag te veranderen.</li>
            <li>- Train de trainer beweegkriebels. ( professionals opleiden in het sporten met peuters).</li>
          </ul>
          <p>
          Graag hoop ik een ieder van jullie in een van mijn lessen te zien!
        </p>
        <h3>
        Sportis <i>samenwerken.</i><br><br>
        Sportis <i>zelfvertrouwen krijgen.</i><br><br>
        Sportis <i>je lekker in je vel voelen.</i>
      </h3>
      </div>
    </div>
  </div>

  <div class="skills" id="Skills">
    <h2>WAT KAN IK VOOR U DOEN?</h2>
    <div class="skills-box">
      <div class="skills-item">
        <h3>VOOR BEDRIJVEN</h3>
        <hr>
        <br>
        <h4><a href="http://www.huisvoorbeweging.nl/bewegen-stimuleren/beweegkriebels/voor-professionals/" target="_blank">Train the trainer Beweegkriebels > </a></h4>
        <p>Beweegkriebels richt zich op professionals die werken met baby’s, dreumesen en peuters.
        Beweegkriebels wil professionals van kinderdagverblijven, peuterspeelzalen, voorscholen of consultatiebureaus ondersteunen en scholen in het aanbieden en het ontwikkelen van een leuk, verantwoord en nieuw beweegaanbod voor jonge kinderen. Voor professionals een mooie uitdaging om kinderen deze mogelijkheden te bieden, er zelf ook plezier aan te beleven én te zorgen voor een kwalitatief en kwantitatief goed beweegaanbod.</p>
        <br>
        <h4>Naschoolse sport activiteiten</h4>
        <p>Bij de Naschoolse Activiteiten krijgen de kinderen de kans om kennis te maken met diverse sporten/spellen.
        Kinderen weten vaak nog niet waar hun interesses liggen en door hun een breed aanbod aan activiteiten te bieden ontdekken ze dit sneller en heb je ook meer kans dat zij doorstromen naar een vereniging en de rest van hun leven actief zijn/blijven in de sport.
        Het is ook mogelijk om gedrag te veranderen doormiddel van sport. Tijdens het sporten wordt er dan gewerkt aan verschillende competenties zoals samenwerken, opkomen voor jezelf enz.</p>
        <br>
        <h4>50+ fit</h4>
        <p>Tijdens deze les kun je samen met leeftijdsgenoten werken aan een betere algehele conditie.
        Tijdens de les wordt er gewerkt aan kracht, lenigheid en conditie.
        Ook is het mogelijk om alleen te trainen met een personal trainer.</p>
        <br>
        <h4>Conditie training</h4>
        <p>Tijdens deze les wordt het hele lichaam getraind. Er zal gewerkt worden aan kracht, lenigheid en conditie.
        Deze les is voor iedereen boven de 16 jaar.
        Dit kan in groepsverband of individueel.</p>
      </div>
      <div class="skills-item">
        <h3>VOOR PARTICULIEREN</h3>
        <hr>
        <br>
        <h4><a href="http://www.huisvoorbeweging.nl/bewegen-stimuleren/beweegkriebels/voor-ouders/" target="_blank">Ouder & peuter gym > </a></h4>
        <p> De basis voor een goede motorische ontwikkeling wordt al gelegd in de eerste zes maanden. Door veel en gevarieerd te bewegen leert een kind vele bewegingen onder de knie te krijgen. Bewegen is echter ook belangrijk bij het leren van taal. Kinderen leren begrippen als onder, boven, over, achter, links en rechts alleen door zich deze begrippen bewegend eigen te maken. Door mee te doen aan bewegingsspelletjes legt een kind contact met leeftijdsgenootjes. Ze leren samen spelen, maar ook ruzie maken en teleurstellingen verwerken.

        Ouders krijgen tijdens deze les handvaten vanuit het programma beweegkriebels die zij met hun peuters thuis kunnen spelen. veel van de spelen zijn zonder materiaal of goedkoop materiaal zoals kranten en knijpers.</p>
        <br>
        <h4>Small Group training</h4>
        <p>Wil jij kwalitatief goed trainen in een kleine groep onder toeziend oog van een personal trainer ? Schroom dan niet en neem snel contact op middels het contactformulier.</p>
        <br>
        <h4>Personal Training</h4>
        <p> Vind jij het belangrijk om gevarieerd te trainen, met oog voor de juiste houding tijdens de oefeningen dan is personal training misschien iets voor jou!
        Het voordeel van een personal trainer:</p>
        <ul>
          <li> persoonlijk trainingsschema gericht op jou doelstellingen</li>
          <li>mentale motivatie/coaching</li>
          <li>deskundigheid</li>
          <li> gevarieerde trainingen</li>
          <li>wanneer het jou uitkomt</li>
          <li> trainen op locatie of in de gym</li>
        </ul>
        <br>
        <h4>Kinderfeestjes</h4>
        <p> Heeft u geen idee wat u dit jaar weer moet organiseren voor het verjaardagspartijtje van uw kind? laat het aan Sportis over! Wij organiseren een dag vol sport en spel voor verschillende leeftijdscatogorien.
        Denkt u aan luchtkussen, voetbal toernooi, oud hollandse spelen,samenwerkings spelen of een mix.Alles is mogelijk voor meer informatie neemt u contact op middels het contactformulier.</p>
      </div>
    </div>
  </div>

  <div class="testimonials" id="Testimonials">
    <h2>DIT VINDEN ANDEREN VAN MIJ</h2>
    <div class="testi-box">
      <div class="testi-item">
        <div class="testi-img">
          <img src="http://res.cloudinary.com/djdcx8hbj/image/upload/v1492508518/sportis-yvonne_oeceay.png" alt="">
        </div>
        <div class="testi-title">
          <h4>Yvonne (63 jaar)</h4>
          <h4>50+ fit</h4>
          <hr>
        </div>
        <div class="testi-text">
          <p>Na jaren geen enkele sport te hebben gedaan heb ik 2 jaar geleden de stoute sportschoenen aangedaan en ben met grote drempelvrees de Apollohal binnen gestapt.
          Daar was Ilonka fris en vrolijk gaf zij een heerlijke goede en ook gezellige conditietraining aan een groep van 20 tot 30 personen. Ik voelde mij door haar perfecte aanwijzingen en hulp meteen op mijn gemak.</p>
          <p>Als verassing geeft ze met de zomerstop ook conditietraining lessen buiten in het Beatrixpark.
          Daar is het nog lekkerder en gezellig hoe ze de training weet aan te passen aan de natuur. Na iedere les stroomt de energie door mijn lichaam.</p>
          <p>Ilonka is mijn favoriete sporttrainster geworden, ze stimuleerd mij en de hele groep door haar veelzijdige oefeningen, waarbij ze goed oplet of de oefeningen correct worden uitgevoerd.
          Mijn conditie is met sprongen vooruit gegaan en ik voel mij vrijer, sterker en kan de hele wereld aan. Ik hoop dat ik nog vele jaren bij haar kan blijven sporten.</p>
        </div>
      </div>
      <div class="testi-item">
        <div class="testi-img">
          <img src="http://res.cloudinary.com/djdcx8hbj/image/upload/v1492508903/sportis-kiddies_vjraez.png" alt="">
        </div>
        <div class="testi-title">
          <h4>Wingman moeder van</h4>
          <h4>Roberto (4,5 jaar) en Isabella (2,5 jaar)</h4>
          <h4>Peutergym</h4>
          <hr>
        </div>
        <div class="testi-text">
          <p>In het begin was Roberto erg verlegen. Mede dankzij het bewegen bij peutergym doet hij elke keer weer nieuwe ervaringen op. Hierdoor voelt hij zich zekerder. Nu een jaar later heeft Roberto meer zelfvertrouwen. Hij voelt zich helemaal thuis in de sportzaal bij Ilonka. Ook Isabella kijkt altijd erg uit naar peutergym en kan nooit wachten totdat het donderdagmiddag is.</p>
          <p>Wij vinden dat Ilonka een geweldige sportjuf is. Ze heeft niet alleen goed oog voor de groep, maar ook aandacht voor het individu. Bij peutergym worden worden jonge kinderen op een speelse manier gestimuleerd om veel te bewegen. En kinderen die veel energie hebben, kunnen zich helemaal uitleven.</p>
        </div>
      </div>
      <div class="testi-item">
        <div class="testi-img">
          <img src="http://res.cloudinary.com/djdcx8hbj/image/upload/v1492507518/sportis-karin_kwxkbs.jpg" alt="">
        </div>
        <div class="testi-title">
          <h4>Karin</h4>
          <h4>50+ fit</h4>
          <hr>
        </div>
        <div class="testi-text">
          <p>Wat ik zo bijzonder vind van Ilonka's trainingslessen, is dat  ze zo intens en afwisselend zijn. Dus conditie verhogend.
            Ilonka is zeer oplettend en heeft voor iedereen in de les aandacht.
            Ik volg in iedergeval de lessen met veel plezier.</p>
          </div>
        </div>
    </div>
  </div>

  <div class="partners">
    <h2 id="Partners">OPDRACHT GEVERS</h2>
    <div class="partner-box">
      <div class="partner-item">
        <a href="http://www.speelkwartier.club/" target="_blank"><img src="http://www.vondelgym.nl/static/vondelgym/image/logo-big.png" alt=""></a>
      </div>
      <div class="partner-item">
        <a href="http://skillsamsterdam.nl/" target="_blank"><img src="http://skillsamsterdam.nl/img/logo.svg" alt=""></a>
      </div>
      <div class="partner-item">
        <a href="http://senb.nu/" target="_blank"><img src="http://senb.nu/wp-content/uploads/2016/01/sportandbehaviour_logo1-e1452895694924.jpg" alt=""></a>
      </div>
      <div class="partner-item">
        <a href="https://www.combiwelsport.nl/" target="_blank"><img src="http://www.combiwelsport.nl/wp-content/uploads/2016/08/combiwel-sport-logo-liggend-kleur.png" alt=""></a>
      </div>
      <div class="partner-item" id="bcc-img">
        <a href="https://thebootcampclub.nl/nl/home" target="_blank"><img src="https://pbs.twimg.com/profile_images/378800000821117304/71f6bd4f141b64981428aac3dfdfae34_400x400.jpeg"></a>
      </div>
      <div class="partner-item">
        <a href="http://www.zorgbezorgd.nu/" target="_blank"> <img src="http://www.zorgbezorgd.nu/wp-content/uploads/2013/06/Logo-Zorgbezorgd-300x209.png" alt=""></a>
      </div>
      <div class="partner-item">
        <a href="https://www.sportbrigade.nl/" target="_blank"><img src="https://www.sportbrigade.nl/wp-content/uploads/2017/02/logo-Sportbrigade-150px.png" alt=""></a>
      </div>
    </div>
  </div>


</body>


<footer>
  <div class="footer-box">
    <div class="footer-item">
      <h4>contact sportIS</h4>
      <br><hr><br>
      <h5>info@sportis.nl</h5>
      <h5>+31640518450</h5>
    </div>
    <div class="footer-item">
      <h4 style="font-weight: bold ">sportIS</h4>
      <br><hr><br>
      <h5>kvk: 1351153123</h5>
      <h5>iban: NL81 SNSB 0927 8888 66<h5>
    </div>
    <div class="footer-item">
      <h4>follow sportIS</h4>
      <br><hr><br>
      <a href="https://www.facebook.com/Sportis-414672462221492/" target="_blank">
      <i class="fa fa-facebook-square" aria-hidden="true"></i></a>

      <a href="https://www.instagram.com/sportis_ilonka/" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
    <div class="home">
      <p><a href="#Top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></p>
    </div>
    <div class="loox">
      <h6>Designed & Build by LOOX</h6>
    </div>
</footer>
