<div class="contact-page">

  <div class="contact-img">
    <%= link_to image_tag("http://res.cloudinary.com/djdcx8hbj/image/upload/v1489588530/logo_acasic.jpg"), root_path(@welcome) %>
  </div>

  <h3>Bedankt voor uw bericht</h3>
  <h3>Ik reageer zo snel mogelijk</h3>

</div>
