<!DOCTYPE html>
<html>
  <head>
    <title>Sportis | Ilonka Sloote - Beweegkriebels - Personal Training</title>

    <link rel="icon" href="http://res.cloudinary.com/djdcx8hbj/image/upload/v1490274943/sportis-browser-icon_bxbnx5.png">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Erica+One" rel="stylesheet">

    <script src="https://use.fontawesome.com/f16878722e.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
